.brand
  position: absolute
  top: 20%
  width: 100%
  font-family: 'Unica One', cursive
  h2
    font-size: 3.5em

.landingContent
  position: absolute
  top: 72%
  width: 100%

.homeInfo
  position: absolute
  top: 100vh

  .jumboCards
    margin: 10vh 0