.navbar
  height: 10vh

  // TITLE  
  .brandLink
    text-decoration: none
    color: #0D47A1
    a
      font-size: 3em

  .brandLink:hover
    color: #0D47A1
    text-decoration: none
    cursor: pointer